[submodule "1º/FP"]
path = 1º/FP
url = https://github.com/alk222/FP
[submodule "2º/TP1/BuffyVampireSlayer"]
path = 2º/TP1/BuffyVampireSlayer
url = https://github.com/alk222/Buffy-Vampire-Slayer
[submodule "2º/TP1/SpaceInvaders"]
path = 2º/TP1/SpaceInvaders
url = https://github.com/alk222/TP1
[submodule "2º/TP2"]
path = 2º/TP2
url = https://github.com/alk222/TP2
[submodule "2º/BD"]
path = 2º/BD
url = https://github.com/alk222/BD
[submodule "2º/TOC"]
path = 2º/TOC
url = https://github.com/alk222/TOC
[submodule "2º/IS1"]
path = 2º/IS1
url = https://github.com/alk222/IS1
[submodule "2º/PE"]
path = 2º/PE
url = https://github.com/alk222/PE
[submodule "2º/IS2/BanqueoIS2"]
path = 2º/IS2/BanqueoIS2
url = https://github.com/alk222/BanqueoIS2
[submodule "2º/IS2/Just-Travel-It"]
path = 2º/IS2/Just-Travel-It
url = https://github.com/alk222/Just-Travel-IT
[submodule "varios/concurso-codigo-espagueti/trubbish"]
path = varios/concurso-codigo-espagueti/trubbish
url = https://github.com/ALK222/trubbish
[submodule "varios/LAG/LESD"]
path = varios/LAG/LESD
url = https://github.com/Asociacion-LAG/LESD
[submodule "optativas/NoSQL"]
path = optativas/NoSQL
url = https://github.com/alk222/NoSQL
[submodule "3º/IA1"]
path = 3º/IA1
url = https://github.com/alk222/IA1
[submodule "4º/ELP"]
path = 4º/ELP
url = https://github.com/alk222/ELP
[submodule "varios/Semana-Informatica-2023/Charla-GitHub-Avanzado/Ejercicios"]
path = varios/Semana-Informatica-2023/Charla-GitHub-Avanzado/Ejercicios
url = https://github.com/alk222/Ejercicios-Charla-Semana-Informatica-2023
[submodule "varios/Semana-Informatica-2023/Charla-GitHub-Avanzado/Solucion"]
	path = varios/Semana-Informatica-2023/Charla-GitHub-Avanzado/Solucion
	url = https://github.com/alk222/Charla-Git-Semana-Informatica-2023/
[submodule "optativas/PEV"]
	path = optativas/PEV
	url = https://github.com/alk222/PEV
[submodule "3º/SO"]
	path = 3º/SO
	url = https://github.com/alk222/SO
[submodule "3º/PC"]
	path = 3º/PC
	url = https://github.com/alk222/PC
[submodule "2º/FAL"]
	path = 2º/FAL
	url = https://github.com/alk222/FAL
[submodule "2º/ED"]
	path = 2º/ED
	url = https://github.com/alk222/ED
[submodule "varios/charla-git-principiantes-2023"]
	path = varios/charla-git-principiantes-2023
	url = https://github.com/alk222/charla-git-principiantes-2023
[submodule "3º/MAR1"]
	path = 3º/MAR1
	url = https://github.com/ALK222/MARP1
