[submodule "1º/FP"]
	path = 1º/FP
	url = https://github.com/alk222/FP
[submodule "2º/TP1/BuffyVampireSlayer"]
	path = 2º/TP1/BuffyVampireSlayer
	url = https://github.com/alk222/Buffy-Vampire-Slayer
[submodule "2º/TP1/SpaceInvaders"]
	path = 2º/TP1/SpaceInvaders
	url = https://github.com/alk222/TP1
[submodule "2º/TP2"]
	path = 2º/TP2
	url = https://github.com/alk222/TP2
[submodule "2º/BD"]
	path = 2º/BD
	url = https://github.com/alk222/BD
[submodule "2º/TOC"]
	path = 2º/TOC
	url = https://github.com/alk222/TOC
[submodule "2º/IS1"]
	path = 2º/IS1
	url = https://github.com/alk222/IS1
[submodule "2º/PE"]
	path = 2º/PE
	url = https://github.com/alk222/PE
[submodule "2º/IS2/BanqueoIS2"]
	path = 2º/IS2/BanqueoIS2
	url = https://github.com/alk222/BanqueoIS2
[submodule "2º/IS2/Just-Travel-It"]
	path = 2º/IS2/Just-Travel-It
	url = https://github.com/alk222/Just-Travel-IT
